*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
*$py.class

# C extensions
*.so

# Custom gitignore
crazyflie_logging/local_logs/*
crazyflie_projects/Policy_Mapping/Data_Analysis/Data/*
!.gitkeep
local_files/
*.zip


# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# Jupyter Notebook
.ipynb_checkpoints
