*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
*$py.class

# C extensions
*.so
*.d
*.o

# Custom gitignore
crazyflie_logging/local_logs/*
crazyflie_projects/Policy_Mapping/Data_Analysis/Data/*

crazyflie_projects/Featureless_TTC/local_logs/*

!.gitkeep
local_files/
*.zip
browse.vc.db*
c_cpp_properities.json
events*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt




# Jupyter Notebook
.ipynb_checkpoints
