*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
crazyflie_data/logs/*

*.py[cod]
*$py.class
.vscode

# C extensions
*.so

# Custom gitignore
local_files/



# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# Jupyter Notebook
.ipynb_checkpoints
