<?xml version="1.0"?>
<launch>
    <!-- Crazyflie SITL environment launch script -->
    <!-- launches Gazebo environment, spawns vehicle, and launch crazyflie firmware -->
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="crazyflie"/>
    <arg name="world_name" default="empty"/>
    <arg name="world" default="$(find crazyflie_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="sdf" default="$(find crazyflie_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- Gazebo configs -->
    <arg name="gui" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/> <!-- If Gazebo closes then reopen it automatically -->

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>


    <!-- Gazebo model -->
    <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
    <node name="global_state_pub" pkg="gazebo_communication_pkg" type="global_state_pub.py" />
</launch>
