<launch>
  <!-- set parameter on Parameter Server -->
  <arg name="model" default="crazyflie.xacro" />
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find crazyflie_gazebo2)/urdf/$(arg model)'" />

  <!-- START 3 NODES: joint_state_publisher, robot_state_publisher, and rviz -->
    <node   name="joint_state_publisher"
            pkg="joint_state_publisher"
            type="joint_state_publisher"> 
            <param name="use_gui" value="TRUE"/>
    </node>

    <node   name="robot_state_publisher"
            pkg="robot_state_publisher"
            type="robot_state_publisher" />

    <!-- Create rviz node with urdf.rviz config file -->
    <node   name="rviz" pkg="rviz" type="rviz"
            args="-d $(find ros_robotics)/launch/urdf.rviz"
            required="true" />
</launch>