<launch>
  
    <!-- LANDING SURFACE ARGS -->
    <arg name="Plane_Type" default="Landing_Surfaces"/>
    <arg name="Plane_Model" default="Checkerboard_L02"/>
    <arg name="Plane_SDF_Path" default="$(find sar_gazebo)/models/$(arg Plane_Type)/Configs/$(arg Plane_Config)/model.sdf"/>
   
    <!-- CRAZYFLIE MODEL ARGS -->
    <arg name="SAR_Type" default="Crazyflie"/>
    <arg name="SAR_Model" default="Camera_Model"/>
    <arg name="SAR_SDF_Path" default="$(find sar_gazebo)/models/$(arg SAR_Type)/Configs/$(arg SAR_Model)/model.sdf"/>

    <!-- LOAD SETTINGS FLAGS -->
    <arg name="Gui_Flag" default="true"/>
    <arg name="Pause_Flag" default="false"/>

    <!-- LAUNCH GAZEBO WITH SPECIFIED WORLD FILE -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="--lockstep $(find sar_gazebo)/worlds/Gazebo_World.world"/>
        <!-- lockstep command ensures sim updates and sensor frequency updates are synced together -->
        <!-- http://gazebosim.org/tutorials?tut=lockstep_physics_sensors&cat=sensors -->
        <!-- http://gazebosim.org/tutorials?tut=performance_metrics&cat=tools_utilities -->
    
        <arg name="gui" value="$(arg Gui_Flag)"/>
        <arg name="paused" value="$(arg Pause_Flag)"/>
        <arg name="verbose" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="headless" default="false"/>

    </include>
    
    <node name="Spawn_Model" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
    args="-file $(arg SAR_SDF_Path) -sdf -model $(arg SAR_Model) -z 0.3" />

    <node name="Spawn_Plane" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
    args="-file $(arg Plane_SDF_Path) -sdf -model $(arg Plane_Model) -z 2" />
        
</launch>

