<?xml version="1.0"?>
<model>
  <name>BitCraze Crazyflie landing gears</name>
  <version>1.0</version>
  <sdf version='1.6'>crazyflie_landing_gears.sdf</sdf>

  <author>
   <name>Pan</name>
   <email>pan.liu@psu.edu</email>
  </author>

  <description>
    This is a model of the BitCraze Crazyflie 2.0 Quadrotor.
  </description>
</model>
