<launch>
  
    <!-- GROUND SURFACE ARGS -->
    <arg name="ground_name" default="GroundPlane_Desert_Physical"/>
    <arg name="ground_sdf_path" default="$(find crazyflie_gazebo)/models/Ground_Surfaces/$(arg ground_name)/model.sdf"/>

    <!-- LANDING PLANE ARGS -->
    <arg name="Plane_Pos_x" default="0"/>
    <arg name="Plane_Pos_y" default="0"/>
    <arg name="Plane_Pos_z" default="1.0"/>
    <arg name="Plane_Angle" default="1.57"/>


    <arg name="Plane_Model" default="Test_Plane"/>
    <arg name="Plane_SDF_Path" default="$(find crazyflie_gazebo)/models/Landing_Surfaces/$(arg Plane_Model)/model.sdf"/>


    <!-- CRAZYFLIE MODEL ARGS -->
    <arg name="config_name" default="Narrow_Long"/>
    <arg name="model_sdf_path" default="$(find crazyflie_gazebo)/models/Crazyflie_Models/crazyflie_$(arg config_name)/model.sdf"/>

    <!-- LOAD SETTINGS FLAGS -->
    <arg name="gui_flag" default="true"/>
    <arg name="pause_flag" default="false"/>
    <arg name="verbose" default="true"/>

    <!-- LAUNCH GAZEBO WITH SPECIFIED WORLD FILE -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="--lockstep $(find crazyflie_gazebo)/worlds/Gazebo_World.world"/>
        <!-- lockstep command ensures sim updates and sensor frequency updates are synced together -->
        <!-- http://gazebosim.org/tutorials?tut=lockstep_physics_sensors&cat=sensors -->
        <!-- http://gazebosim.org/tutorials?tut=performance_metrics&cat=tools_utilities -->
    
        <arg name="gui" value="$(arg gui_flag)"/>
        <arg name="paused" value="$(arg pause_flag)"/>
        <arg name="verbose" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="headless" default="false"/>

    </include>
    

    <!-- SPAWN GROUND PLANE/LANDING SURFACE/CRAZYFLIE MODELS -->
    <node name="spawn_ground" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
        args="-file $(arg ground_sdf_path) -sdf -model $(arg ground_name)" />
        
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
    args="-file $(arg model_sdf_path) -sdf -model crazyflie_$(arg config_name) -z 0.3" />

    <node name="Spawn_Plane" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
    args="-file $(arg Plane_SDF_Path) -sdf -model $(arg Plane_Model) -z $(arg Plane_Pos_z) -x $(arg Plane_Pos_x) -y $(arg Plane_Pos_y) -P $(arg Plane_Angle)" />
        
</launch>
