<launch>
  
    <!-- LOAD ARGS FOR GROUND PLANE/LANDING SURFACE/CRAZYFLIE MODELS -->
    <arg name="ground_name" default="GroundPlane_Desert_Physical"/>
    <arg name="ground_sdf_path" default="$(find crazyflie_gazebo)/models/Landing_Surfaces/$(arg ground_name)/model.sdf"/>

    <arg name="surface_name" default="CeilingPlane_Large"/>
    <arg name="surface_sdf_path" default="$(find crazyflie_gazebo)/models/Landing_Surfaces/$(arg surface_name)/model.sdf"/>

    <arg name="model_name" default="crazyflie_Wide-Short"/>
    <arg name="model_sdf_path" default="$(find crazyflie_gazebo)/models/Crazyflie_Models/$(arg model_name)/model.sdf"/>

    <!-- READ FLAGS FROM BASH FILE -> ROSPARAM -->
    <arg name="gui_flag" default="true"/>
    <arg name="pause_flag" default="false"/>
    <arg name="verbose" default="true"/>

    <!-- LAUNCH GAZEBO WITH SPECIFIED WORLD FILE -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="--lockstep $(find crazyflie_gazebo)/worlds/Gazebo_World.world"/>
        <!-- lockstep command ensures sim updates and sensor frequency updates are synced together -->
        <!-- http://gazebosim.org/tutorials?tut=lockstep_physics_sensors&cat=sensors -->
        <!-- http://gazebosim.org/tutorials?tut=performance_metrics&cat=tools_utilities -->
    
        <arg name="gui" value="$(arg gui_flag)"/>
        <arg name="paused" value="$(arg pause_flag)"/>
        <arg name="verbose" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="headless" default="false"/>

    </include>

    <!-- SPAWN GROUND PLANE/LANDING SURFACE/CRAZYFLIE MODELS -->
    <node name="spawn_ground" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
        args="-file $(arg ground_sdf_path) -sdf -model $(arg ground_name)" />
        
        
        <node name="spawn_surface" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
        args="-file $(arg surface_sdf_path) -sdf -model $(arg surface_name)" />
        
        <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
        args="-file $(arg model_sdf_path) -sdf -model $(arg model_name) -z 0.3" />
        
</launch>
