<launch>
  
    <arg name="model_name" default="crazyflie_Wide-Short"/>
    <arg name="world_name" default="CeilingSurface_Large"/>
    <arg name="gui_flag" default="true"/>
    <arg name="sdf_path" default="$(find crazyflie_gazebo)/models/$(arg model_name)/model.sdf"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>

    <!-- LAUNCH GAZEBO WITH SPECIFIED WORLD FILE -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="--lockstep $(find crazyflie_gazebo)/worlds/$(arg world_name).world"/>
        <!-- lockstep command ensures sim updates and sensor frequency updates are synced together -->
        <!-- http://gazebosim.org/tutorials?tut=lockstep_physics_sensors&cat=sensors -->
        <!-- http://gazebosim.org/tutorials?tut=performance_metrics&cat=tools_utilities -->
    
        <arg name="gui" value="$(arg gui_flag)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="verbose" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="headless" default="false"/>

    </include>

    <!-- SPAWN SDF FILE INTO GAZEBO -->
    <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
        args="-file $(arg sdf_path) -sdf -model $(arg model_name) -z 0.1" />

    <!-- <node name="ceiling_ft_sensor" pkg="crazyflie_gazebo" type="ceiling_ft_sensor" /> -->

</launch>
