<launch>
  

    <arg name="model_name" default="crazyflie_Narrow-Long"/>
    <arg name="model_sdf_path" default="$(find crazyflie_gazebo)/models/Crazyflie_Models/$(arg model_name)/model.sdf"/>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" 
    args="-file $(arg model_sdf_path) -sdf -model $(arg model_name) -z 0.3" />


</launch>
