<?xml version="1.0"?>

<model>
  <name>Ceiling Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Pan Liu</name>
    <email>pan.liu@psu.edu</email>
  </author>

  <description>
    A simple ceiling plane, modified form graound plane.
  </description>
</model>
