<!--
    Date of creation: 5/II/2018
    Application created by: Ricardo Tellez <rtellez@theconstructsim.com>
    The Construct http://www.theconstructsim.com
    License LGPLV3 << Basically means you can do whatever you want with this!
-->

<launch>
    
    <!-- Load the parameters for the algorithm -->
    <param name="/use_sim_time" value="true"/>
    
    <!-- Launch the training system -->
    <include file="/home/bhabas/catkin_ws/src/crazyflie_simulation/src/ros_nodes/global_state_pkg/launch/start_globalstate_pub.launch" />
    <node pkg="crazyflie_gazebo_sim" name="gym_train" type="CF_training.py" output="screen"/> 
    
    
</launch>
